/* Baseline, reset styles */
input[type="range"] {
    --range-progress: 0;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/*** Chrome, Safari, Opera and Edge Chromium styles ***/

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #e2e8f0;
    border-radius: 2px;
    height: 4px;
}

@media (prefers-color-scheme: dark) {
    input[type="range"]::-webkit-slider-runnable-track {
        background: #334155;
    }
}

/* played progress length */
input[type="range"]::before {
    content: "";
    height: 4px;
    background: #0f172a;
    width: var(--range-progress);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

@media (prefers-color-scheme: dark) {
    input[type="range"]::before {
        background: #f1f5f9;
    }
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #0f172a;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

@media (prefers-color-scheme: dark) {
    input[type="range"]::-webkit-slider-thumb {
        background-color: #e2e8f0;
    }
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 2px solid #1d4ed8;
    outline-offset: 0.125rem;
}

@media (prefers-color-scheme: dark) {
    input[type="range"]:focus::-webkit-slider-thumb {
        outline: 2px solid #9ca3af;
    }
}

/*** Firefox styles ***/

/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #e2e8f0;
    border-radius: 2px;
    height: 4px;
}

@media (prefers-color-scheme: dark) {
    input[type="range"]::-moz-range-track {
        background-color: #334155;
    }
}

/* played progress length */
input[type="range"]::-moz-range-progress {
    background: #0f172a;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    height: 4px;
}

@media (prefers-color-scheme: dark) {
    input[type="range"]::-moz-range-progress {
        background: #e2e8f0;
    }
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #0f172a;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

@media (prefers-color-scheme: dark) {
    input[type="range"]::-moz-range-thumb {
        background-color: #e2e8f0;
    }
}

input[type="range"]:focus::-moz-range-thumb {
    outline: 2px solid #1d4ed8;
    outline-offset: 0.125rem;
}

@media (prefers-color-scheme: dark) {
    input[type="range"]:focus::-moz-range-thumb {
        outline: 2px solid #9ca3af;
    }
}
