@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #f9fafb;
    scrollbar-gutter: stable;
}

html,
body,
#root {
    height: 100%;
}

.container {
    max-width: 41rem;
}

@media (prefers-color-scheme: light) {
    audio::-webkit-media-controls-panel {
        background-color: #ffffff;
    }

    @-moz-document url-prefix() {
        .firefox-hack audio {
            padding: 0.1rem;
        }
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background: #0f172a;
    }

    audio::-webkit-media-controls-panel {
        background-color: #0f172a;
    }

    @-moz-document url-prefix() {
        .firefox-hack audio {
            padding: 0.1rem;
            filter: none;
        }
    }
}
