@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #f9fafb;
    scrollbar-gutter: stable;
}

html,
body,
#root {
    height: 100%;
}

.container {
    max-width: 41rem;
}

audio::-webkit-media-controls-panel {
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    audio {
        filter: sepia(100%) invert(92%) hue-rotate(-5deg);
    }
}
