html {
  background: var(--mantine-color-gray-0);
  scrollbar-gutter: stable;
  --mantine-color-dimmed: var(--mantine-color-gray-5);
}

@media (prefers-color-scheme: dark) {
  html {
    background: var(--mantine-color-gray-9);
    --mantine-color-dimmed: var(--mantine-color-gray-4);
  }
}

html,
body,
#root {
  height: 100%;
}

.container {
  max-width: 40rem;
}
